python_dotenv
ipykernel

langchain
langchain_community
langchain_openai
langchain_core
langchain_groq
langchain_huggingface
langchain-ollama
faiss-cpu

streamlit
pypdf
sentence-transformers

wikipedia
arxiv
duckduckgo-search